.scrollBtn {
  z-index: 2;
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 25px 34px;
  background-position: center;
  background-image: url(../assets/icon/icon_scroll.svg);
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s;
}

.textStroke {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

/* sticky */
.sticky {
  position: sticky;
  top: 0;
  height: 100%;
}

.section05 p .text_bg {
  position: relative;
  color: #fff;
  font-weight: 600;
  z-index: 1;
}

.section05 p .text_bg::before {
  content: "";
  padding: 0 5px;
  display: inline-block;
  position: absolute;
  left: -6px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 173, 21, 0.6);
  z-index: -1;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section {
  position: relative;
}

.section01 .inner {
  /* height: 920px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section01 .inner::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(../assets/ABGround/icon_p02_scroll.svg); */
  cursor: url(../assets/cursor/cursor_Hover.svg), auto;
}

/* ABground 애니메이션 처리 추가 s */
.section01.highlight {
  display: block;
}
.section01.highlight .inner {
  /* header 영역과 h1 밑에 텍스트의 높이를 고려하여 height 조절 */
  height: 100vh;
  max-width: 100%;
  margin: 0px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section01.highlight .inner h1 {
  margin-top: 100px;
}
.section01.highlight .inner.bottom-top {
  background: linear-gradient(to top, rgb(0, 0, 0) 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: all 0.5s ease-out;
  background-position: bottom;
}
.section01.highlight .inner::after {
  display: none;
}
.section01.normal .inner h1 {
  margin-top: -160px;
}
.section01.normal .inner h1,
.section01.normal .inner p {
  z-index: 2;
}
.section01.normal .normal-image-bg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  /* height: 860px; */
  height: 100vh;
  min-height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
}
.section01.normal .normal-image-bg div {
  width: 25%;
  display: flex;
  flex-direction: column;
}
/* ABground 애니메이션 처리 추가 e */

.section01 .inner h1 {
  font-weight: 800;
  font-size: 223px;
  text-align: center;
  color: #fff;
}

.section01 .inner p {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.68em;
}

.section02 {
  padding: 300px 0 0;
}

.section02 .inner {
  margin: 0 auto;
  width: 1280px;
}

.section02 .inner .item-container {
  display: flex;
  justify-content: space-between;
}

.section02 .inner h2 {
  font-weight: 800;
  font-size: 73px;
  line-height: 78px;
  letter-spacing: -0.05em;
  color: #fff;
  position: relative;
}

.section02 .inner h2.arrow::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 45px;
  left: -190px;
  width: 289px;
  height: 269px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/ABGround/icon_p02_arrow.svg);
  z-index: -1;
  opacity: 1;
}

.section02 .inner .item .item-info {
  margin-top: 100px;
}

.section02 .inner .item .item-info p {
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 29px;
  color: #ffffff;
}

.section02 .inner .item .item-info .downBtn {
  margin-top: 30px;
  display: flex;
  justify-content: baseline;
  align-items: center;

  width: 80%;
  height: 80px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.03em;

  color: #ffffff;
  text-align: left;
}

.section02 .inner .item .item-info .downBtn:hover {
  color: #4c4c4c;
}

.section02 .inner .item.img {
  position: relative;
  top: -195px;
  z-index: -2;
  width: 522px;
  height: 680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/ABGround/img_p02_boardFinger.png);
}

/* video : s */

.section03 {
  margin: 0 auto;
  width: 1280px;
}

.section03 .inner {
  height: auto;
  position: relative;
}
.video-js .vjs-big-play-button {
  width: 115px !important;
  height: 115px !important;
  border: none !important;
  background-color: transparent !important;
  background-size: cover;
  background-image: url(../assets/ABGround/icon_p02_play.svg);
  box-sizing: border-box;
}
.video-js .vjs-big-play-button > * {
  display: none;
}

.pauseBtn {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.pauseBtn.on {
  opacity: 1;
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .pauseBtn {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  .pauseBtn.on {
    opacity: 1;
    visibility: visible;
  }
}

.pauseBtn span {
  display: inline-block;
  width: 115px;
  height: 115px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-image: url(../assets/ABGround/icon_p02_pause.svg);
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 114px;
  height: 114px;
  background-position: center;
  background-size: contain;
  background-image: url(../assets/ABGround/icon_p02_play.svg);
  border-radius: 50%;
}
.video-play-button:hover:before {
  opacity: 0.7;
}
.video-overlay {
  position: relative;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/ABGround/video_poster.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: relative;
  opacity: 1;
}

/* video : e */
.section04 {
  margin: 100px auto;
  padding: 100px 0;
  width: 1280px;
  height: 100%;
}

.section04 .inner {
  height: 720px;
}

.section04 .inner .scrollItem {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section04 .inner .scrollItem::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.section04 .inner .scrollItem01::before {
  background-image: url(../assets/ABGround/img_p02_Section04_BG01_x1.png);
}

.section04 .inner .scrollItem02::before {
  background-image: url(../assets/ABGround/img_p02_Section04_BG02_x1.png);
}

.section04 .inner .scrollItem03::before {
  background-image: url(../assets/ABGround/img_p02_Section04_BG03_x1.png);
}

.section04 .inner .scrollItem04::before {
  background-image: url(../assets/ABGround/img_p02_Section04_BG04_x1.png);
}

.section04 .inner .scrollItem .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
}
.section04 .inner .scrollItem .center::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 69px;
  width: 553px;
  height: 553px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/ABGround/vector_p02_section04_arrow.svg);
}

.section04 .inner h1 {
  font-weight: 800;
  font-size: 122px;
  line-height: 122px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.section04 .inner p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/**
 *  Progress Bar
 */
.section04 .progress {
  display: block;
  position: absolute;
  top: 180px;
  right: 50px;
  width: 10px;
  height: 135px;
  max-height: 540px;
  border-radius: 10px;
  background-color: #f5f5f5;
  transition: background-size 0.4s ease-in-out;
}
.section04 .sr-only {
  position: absolute;
  width: 10px;
  height: 540px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 0;
  text-indent: -9999px;
  overflow: hidden;
  border: 0;
  border-radius: 10px;
}
.section04 .slick-slide .center {
  opacity: 0;
}

.section04 .slick-slide .center > * {
  transition: all 900ms ease;
}

.section04 .slick-slide .center h1 {
  position: relative;
  top: 100px;
  line-height: 1;
  opacity: 0;
}

.section04 .slick-slide .center p {
  position: relative;
  top: 150px;
  opacity: 0;
}
.section04 .slick-slide {
  opacity: 0.2;
  transition: all 900ms ease;
}

.section04 .slick-current {
  opacity: 1;
}

.section04 .slick-current .center {
  opacity: 1;
}

.section04 .slick-current .center h1 {
  top: 0;
  opacity: 1;
}

.section04 .slick-current .center p {
  top: 0;
  opacity: 1;
}
/* section05 */
.section05 {
  padding: 100px 0 0;
}

.section05 .inner {
  width: 1280px;
  box-sizing: border-box;
  margin: 100px auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
}

.section05 .textArea {
  position: relative;
  height: 73px;
  line-height: 1;
}

.section05 .inner h1 {
  font-weight: 900;
  font-size: 73px;
  line-height: 78px;
  color: rgba(255, 255, 255, 0.2);
}

.textAni {
  position: absolute;
  top: 0;
}

.textAni.textAni01 {
  opacity: 1;
}

.textAni.textAni02,
.textAni.textAni03 {
  opacity: 0;
}

.section05 .textArea p {
  display: block;
  font-size: 73px;
  color: #fff;
  width: auto;
  transition: all 0.5s;
}

.section05 .des > * {
  font-size: 20px;
  color: #fff;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 23px;
}
.section05 .des.textAni04.pc {
  margin-top: 0;
  opacity: 0;
}
.section05 .des.textAni04.mb {
  opacity: 1;
}

.section05 .des a {
  display: block;
  color: #fff;
}

.section05 .des a span {
  position: relative;
}

.section05 .des a span::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/ABGround/icon_p02_more.svg);
}

.section05 .des a:hover {
  color: #4c4c4c;
}

.section05 .des a:hover span::after {
  background-image: url(../assets/icon/icon_more_g.svg);
}

.section05 .imgArea {
  margin-top: 54px;
  display: flex;
  width: 1280px;
  margin: 0 auto;
  height: auto;
}
.section05 .imgArea.pc {
  opacity: 0;

  transition: all 0.5s;
}
.section05 .imgArea.pc > * {
  width: 50%;
}

.section05 .imgArea .item {
  position: relative;
}

.section05 .imgArea .left {
  margin-right: 40px;
}

.section05 .imgArea .left .item {
  width: 100%;
  height: 374px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section05 .imgArea .left .item:nth-of-type(1) {
  margin-bottom: 40px;
  background-image: url(../assets/ABGround/img_p02_Section05_Online01_x1.png);
}

.section05 .imgArea .left .item:nth-of-type(2) {
  background-image: url(../assets/ABGround/img_p02_Section05_Online02_x1.png);
}

.section05 .imgArea .right .item {
  width: 100%;
  height: 788px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/ABGround/img_p02_Section05_Online03_x1.png);
}

.section05 .imgArea .item .hoverText {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
  z-index: 2;
}

.section05 .imgArea .item .hoverText h2 {
  margin-bottom: 10px;
  font-size: 25px;
  letter-spacing: 0.03em;
}

.section05 .imgArea .item .hoverText p {
  font-size: 20px;
}

.section05 .imgArea .item:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.section05 .imgArea .item:hover .hoverText {
  opacity: 1;
}

/* section06 */
.section06 .inner {
  margin: 200px auto;
  width: 1280px;
}

.section06 h1 {
  font-size: 73px;
  font-weight: 900;
  letter-spacing: -0.05em;
  opacity: 0;
}

.section06 h1.animate__fadeInUp {
  animation: fadeInUp;
  animation-duration: 2s;
  opacity: 1;
}

.section06 .item-container {
  display: flex;
  flex-wrap: wrap;
}

.section06 .item-container .item {
  width: calc(100% / 3 - 20px);
  height: 100%;
  margin-right: 20px;
  margin-bottom: 30px;
  position: relative;
  margin-top: 50px;

  opacity: 0;
}

.section06 .item-container .item.animate__fadeInUp {
  animation: fadeInUp;
  animation-duration: 2s;

  opacity: 1;
}

.section06 .item-container .item .imgWrap {
  width: 100%;
  height: 410px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}

.section06 .item-container .item .text {
  padding: 20px 0;
}

.section06 .item-container .item .text p {
  font-size: 20px;
  font-weight: 400;
}

.section06 .item-container .item .text span {
  font-size: 25px;
  font-weight: 700;
}

.section06 .item-container .item:nth-of-type(1) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_01_off.png);
}

.section06 .item-container .item:nth-of-type(2) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_02_off.png);
}

.section06 .item-container .item:nth-of-type(3) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_03_off.png);
}

.section06 .item-container .item:nth-of-type(4) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_04_off.png);
}

.section06 .item-container .item:nth-of-type(5) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_05_off.png);
}

.section06 .item-container .item:nth-of-type(6) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_06_off.png);
}

.section06 .item-container .item:hover:nth-of-type(1) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_01.png);
}

.section06 .item-container .item:hover:nth-of-type(2) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_02.png);
}

.section06 .item-container .item:hover:nth-of-type(3) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_03.png);
}

.section06 .item-container .item:hover:nth-of-type(4) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_04.png);
}

.section06 .item-container .item:hover:nth-of-type(5) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_05.png);
}

.section06 .item-container .item:hover:nth-of-type(6) .imgWrap {
  background-image: url(../assets/ABGround/img_p02_Section06_06.png);
}

.peopleList ul {
  margin-top: 80px;
  width: 100%;
}
.peopleList ul li {
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.peopleList ul li a.tit {
  width: 20%;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.peopleList ul li a.tit span {
  font-weight: 600;
  font-size: 25px;
}
.peopleList ul li .des p {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media (max-width: 1280px) {
  .section01.normal .normal-image-bg {
    display: none;
  }
  .section01 {
    position: relative;
  }
  .section01::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 365px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/ABGround/img_p02_section01_BG.png);
    position: absolute;
    z-index: -1;
  }
  .section01 .inner {
    height: 413px;
    position: relative;
  }
  .section01 .inner::before {
    content: "";
    display: inline-block;
    width: 213px;
    height: 213px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/ABGround/vector_p02_section01_arrow.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -70%);
    z-index: -1;
  }
  .section01 .inner::after {
    bottom: 70px;
  }
  .section01 .inner h1 {
    font-size: 54px;
  }

  .section01 .inner p {
    font-size: 12px;
    letter-spacing: 0.15em;
  }

  .section02 {
    margin: 50px 0;
    padding: 100px 20px 0;
  }

  .section02 .inner {
    width: 100%;
  }

  .section02 .inner .item-container {
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  .section02 .inner h2 {
    font-size: 32px;
    line-height: 33px;
    letter-spacing: -0.01em;
  }
  .section02 .inner h2.on {
    color: #fff;
  }
  .section02 .inner h2.arrow::before {
    display: none;
  }

  .section02 .inner .item.img {
    width: 100%;
    height: 160px;
    top: 0;
    background-position: 50% 83%;
    background-image: url(../assets/ABGround/img_p02_boardFinger_m.png);
  }

  .section02 .inner .item .item-info {
    margin-top: 20px;
  }

  .section02 .inner .item .item-info p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .section02 .inner .item .item-info p > b {
    font-size: 16px;
  }

  .section02 .inner .item .item-info .downBtn {
    margin-top: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    width: max-content;
    height: 30px;
    border: 1px solid #fff;
    font-size: 14px;
  }
  /* section03 */
  .section03 {
    margin: 0 auto;
    width: 100%;
  }
  .video-play-button:before {
    width: 36px;
    height: 36px;
  }
  .video-js .vjs-big-play-button {
    width: 36px !important;
    height: 36px !important;
    transform: translate(-50%, -50%) !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    display: none;
  }

  .pauseBtn span {
    display: inline-block;
    width: 36px;
    height: 36px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-image: url(../assets/ABGround/icon_p02_pause.svg);
  }

  /* section04 */
  .section04 {
    margin: 100px auto;
    width: 100%;
    /* height: calc(469px * 4); */
    height: 100%;
  }

  .section04 .inner {
    height: 469px;
  }
  .section04 .inner .scrollItem {
    position: relative;
    height: 469px;
  }
  .section04 .inner .scrollItem::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 216px;
    height: 216px;
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../assets/ABGround/vector_p02_section01_arrow.svg);
  }
  .section04 .inner .scrollItem .center {
    padding: 0 20px;
    display: flex;
    left: 0;
    top: 70px;
    transform: translateY(0);
  }

  .section04 .inner h1 {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
  }

  .section04 .inner p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .section04 .inner .scrollItem .center::before {
    display: none;
  }
  .section04 .progress {
    top: 355px;
    right: unset;
    bottom: 0;
    left: 35px;
    height: 67px;
    max-height: 200px;
    width: 5px;
  }
  .section04 .sr-only {
    height: 200px;
    width: 5px;
    top: 0;
  }

  /* section05 */
  .section05 {
    padding: 0;
    box-sizing: border-box;
    margin: 100px auto;
    width: 100%;
  }
  .section05 .inner {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    flex-direction: column;
  }
  .section05 .textArea {
    flex-direction: column;
    height: 33px;
  }

  .section05 .inner h1,
  .section05 .textArea,
  .section05 .textArea p {
    font-size: 32px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #fff;
  }

  .section05 .textArea .des > * {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .section05 .des.textAni04 {
    margin-top: 10px;
    opacity: 1;
  }

  .section05 .des > * {
    font-size: 14px;
    line-height: 20px;
  }

  .section05 .imgArea.pc {
    display: none;
  }

  .section05 .imgArea.mb {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    box-sizing: border-box;
    display: block;
  }

  .section05 .imgArea.mb .item-container .item {
    box-sizing: border-box;
    height: 100%;
    opacity: 1;
  }
  .section05 .imgArea.mb .item-container .item:nth-of-type(1) {
    margin-left: 20px;
  }

  .section05-slider {
    display: flex;
    flex-wrap: wrap;
  }
  .section05 .slick-list {
    /* margin-left: 10px; */
    box-sizing: border-box;
  }
  .section05 .slick-slide {
    width: 100%;
    min-width: 320px;
    margin-left: 10px;
  }
  .section05 .imgArea .item-container .item .imgWrap {
    width: 100%;
    height: 201px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section05 .imgArea .item-container .item:nth-of-type(1) .imgWrap {
    margin-bottom: 0;
    background-image: url(../assets/ABGround/img_p02_Section05_Online01_x1_m.png);
  }

  .section05 .imgArea .item-container .item:nth-of-type(2) .imgWrap {
    background-image: url(../assets/ABGround/img_p02_Section05_Online02_x1_m.png);
  }

  .section05 .imgArea .item-container .item:nth-of-type(3) .imgWrap {
    background-image: url(../assets/ABGround/img_p02_Section05_Online03_x1_m.png);
  }

  .section05 .imgArea .item .hoverText {
    margin-top: 10px;
    opacity: 1;
    position: relative;
    left: 0;
    bottom: 0;
    top: unset;
    transform: unset;
    text-align: left;
    transition: all 0.5s;
    z-index: 2;
  }

  .section05 .imgArea .item .hoverText h2 {
    margin-bottom: 0;
    font-size: 16px;
  }

  .section05 .imgArea .item .hoverText p {
    font-size: 14px;
  }
  .section05 .des.textAni04 {
    width: 100%;
  }
  .section05 .imgArea .item:hover::after {
    display: none;
  }

  /* section06 */
  .section06 {
    padding: 0 20px;
    box-sizing: border-box;
    margin: 100px auto;
    width: 100%;
  }
  .section06 .inner {
    margin: 100px auto;
    width: 100%;
  }

  .section06 h1 {
    font-size: 32px;
    letter-spacing: -0.01em;
  }

  .section06 .item-container .item {
    width: 320px;
    height: 380px;
    opacity: 1;

    /* width: 100%; */
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .section06 .item-container .item .imgWrap {
    height: 320px;
  }

  .section06 .item-container .item .text {
    padding: 10px 0;
  }

  .section06 .item-container .item .text p {
    font-size: 14px;
  }

  .section06 .item-container .item .text span {
    font-size: 16px;
  }

  .section06 .slick-track {
    margin: 0 0 0 -15px;
  }
  .section06 .slick-list {
    margin: 0 -15px;
  }
  .section06 .slick-list:first-of-type {
    margin: 0 -15px 0 0px;
  }
  .section06 .slick-slide {
    margin: 0 15px;
  }

  .peopleList ul li {
    padding: 20px 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .peopleList ul li a.tit {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    font-size: 14px;
  }
  .peopleList ul li a button {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/icon/icon_plus.svg);
    transform: rotate(0deg);

    transition: transform 0.5s;
  }
  .peopleList ul li a button.on {
    transform: rotate(45deg);
  }
  .peopleList ul li a.tit span {
    margin-right: 5px;
    font-size: 16px;
  }
  .peopleList ul li .des {
    display: none;
    padding: 10px 0;
    width: 100%;
    /* transition: all 0.5s; */
  }
  .peopleList ul li .des.on {
    display: block;
  }
  .peopleList ul li .des p {
    font-size: 14px;
    line-height: 20px;
  }
  .peopleList ul li .des p span {
    display: block;
  }
}
