@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: #000;
}

/* ----------------------------- COMMON ------------------------------- */
body {
  background: #010101;
  font-size: 100%;
  font-family: Pretendard;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}
/* #cursor {
  position: absolute;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  background-image: url(../assets/cursor/cursor_Basic.svg);
}

#cursor.on{
  background-image: url(../assets/cursor/cursor_Hover.svg);
} */

/* 마우스로 드래그하여 선택된 부분의 색상 변경 */
::-moz-selection {
  background: #fdad15;
  color: #fff;
}

::selection {
  background: #fdad15;
  color: #fff;
}

/* index 원페이지 */
.mb {
  display: none;
}

.pc {
  display: block;
}

/* header */
header {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
header.fixed {
  position: sticky;
  scroll-snap-type: y mandatory;
  width: 100%;
  top: 0;
  background: #000;
  z-index: 999;

  transition: all 0.5s;
}
header .inner {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner .logo a {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-image: url(../assets/gnb/GNB_AB_logo.svg);
}

header .inner .gnb ul {
  display: flex;
}

header .inner .gnb ul li {
  width: 115px;
}

header .inner .gnb ul li a {
  font-size: 18px;
  text-align: center;
  font-weight: 300;

  color: #ffffff;
  transition: all 0.5s;
}

header .inner .gnb ul li:hover a {
  color: #4c4c4c;
  font-weight: 900;
}

footer {
  background-color: #fff;
}

footer .inner {
  width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
}

footer .inner .logo::before {
  display: inline-block;
  content: "";
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/footer/footer_AB_Logo.svg);
}

footer .inner a.logo {
  display: flex;
  align-items: center;
}

footer .inner .logo h1 {
  padding-left: 16px;
  display: inline-block;
  font-size: 25px;
  color: #000;
}

footer .inner .company {
  margin-top: 50px;
  font-size: 20px;
  color: #000;
}

footer .inner .info {
  margin-top: 25px;
}

footer .inner .info dl {
  margin: 6px 0;
}

footer .inner .info dt,
footer .inner .info dd {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

footer .inner .info dt {
  width: 8%;
}

footer .inner .btmInfo {
  position: absolute;
  right: 0;
  bottom: 45px;
}

footer .inner .btmInfo ul li {
  margin-left: 25px;
  display: inline-block;
}

footer .inner .btmInfo ul li a {
  color: #000;
}

footer .inner .btmInfo ul li a:hover {
  color: #c4c4c4;
}

/* 화면 너비가 0 ~ 1280px: 피시-------------------------------------- */
@media (max-width: 1280px) {
  .bodyFix {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .mb {
    display: block;
  }

  .pc {
    display: none;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    font-size: 14px;
    overflow-x: hidden;
  }

  /* header */

  header {
    padding: 0 20px;
    position: relative;
    z-index: 9;
    background-color: #000;
  }

  header.fixed {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 9;
    width: 100%;
    top: 0;
    padding: 0 20px;
    box-sizing: border-box;
    transition: all 0.5s;

    z-index: 99;
  }

  header .inner {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .inner .logo a {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }

  header .inner .gnbBtn {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px 12px;
    background-position: center;
    /* background-image: url(../assets/gnb/icn_GNB_bar.png); */
  }

  #nav-icon3{
    width: 17px;
    height: 12px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  /* Icon 3 */

  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 6px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 12px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }



  footer.f-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  footer .inner {
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #fff;
  }

  footer .inner .logo::before {
    width: 24px;
    height: 24px;
  }

  footer .inner .logo h1 {
    padding-left: 10px;
    font-size: 16px;
  }

  footer .inner .company {
    margin-top: 0;
    font-size: 14px;
  }

  footer .inner .info {
    margin-top: 20px;
  }

  footer .inner .info dl::after {
    content: "";
    display: block;
    clear: both;
  }

  footer .inner .info dt,
  footer .inner .info dd {
    font-size: 14px;
  }

  footer .inner .info dt {
    width: 25%;
    float: left;
  }
  footer .inner .info dd {
    width: 73%;
  }

  footer .inner .btmInfo {
    margin-top: 30px;
    position: unset;
    right: unset;
  }

  footer .inner .btmInfo ul li {
    margin-left: 0;
    margin-right: 20px;
  }
}
