#partners section {
  padding: 0;
  height: 100%;
}

#partners section h1 {
  font-size: 122px;
  line-height: 120px;
  font-weight: 800;
  color: #fff;
}

#partners section h1.textStroke {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

#partners section h2 {
  font-size: 73px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: 0.05em;
}

#partners section p {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

#partners section p .text_bg {
  position: relative;
  color: #000;
  font-weight: 600;
  z-index: 1;
}

#partners section p .text_bg::before {
  content: "";
  padding: 0 5px;
  display: inline-block;
  position: absolute;
  left: -6px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

/* section01 */
#partners .section01 {
  position: relative;
  width: 100%;
  height: 530px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/Partners/img_p05_mainBG.png);
}

#partners .section01 .inner {
  width: 1280px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#partners .section01 h1 {
  margin-bottom: 23px;
}

/* section02 */
#partners .section02 .inner {
  width: 1280px;
  margin: 0 auto;
}

#partners .section02 .inner .group {
  margin: 121px 0;
}

#partners .section02 .inner .group h2 {
  font-size: 25px;
  font-weight: 600;
}

#partners .section02 .inner .group ul {
  width: 100%;
}

#partners .section02 .inner .group ul li:first-child {
  border-top: 1px solid #fff;
}

#partners .section02 .inner .group ul li {
  border-bottom: 1px solid #fff;
}

#partners .section02 .inner .group ul li:hover a {
  color: #000;
  background-color: #fff;
}

#partners .section02 .inner .group ul li a {
  padding: 50px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  transition: all 0.5s;
}

#partners .section02 .inner .group p {
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}

#partners .section02 .inner .group ul li a button {
  margin-top: 30px;
  border: none;
  background-color: transparent;
  color: #c4c4c4;
}

#partners .section02 .inner .group ul li a button span {
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  position: relative;
}

#partners .section02 .inner .group ul li a button span::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/icon/icon_more.svg);
}

#partners .section02 .inner .group ul li:hover a button span::after {
  background-image: url(../assets/icon/icon_more_g.svg);
}

#partners .section02 .inner .group ul li a .logo {
  padding: 0 20px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#partners .section02 .inner .group ul li a .logo01 {
  width: 165px;
  height: 127px;
  background-image: url(../assets/Partners/vector_p05_logo01_off.svg);
}

#partners .section02 .inner .group ul li a .logo02 {
  width: 200px;
  height: 200px;
  background-image: url(../assets/Partners/vector_p05_logo02_off.svg);
}

#partners .section02 .inner .group ul li a .logo03 {
  width: 312px;
  height: 82px;
  background-image: url(../assets/Partners/vector_p05_logo03_off.svg);
}

#partners .section02 .inner .group ul li a .logo04 {
  width: 182px;
  height: 128px;
  background-image: url(../assets/Partners/vector_p05_logo04_off.svg);
}

#partners .section02 .inner .group ul li a .logo05 {
  width: 298px;
  height: 78px;
  background-image: url(../assets/Partners/vector_p05_logo05_off.png);
}

#partners .section02 .inner .group ul li a .logo06 {
  width: 199px;
  height: 62px;
  background-image: url(../assets/Partners/vector_p05_logo06_off.png);
}

#partners .section02 .inner .group ul li:hover a .logo01 {
  background-image: url(../assets/Partners/vector_p05_logo01_on.svg);
}

#partners .section02 .inner .group ul li:hover a .logo02 {
  background-image: url(../assets/Partners/vector_p05_logo02_on.svg);
}

#partners .section02 .inner .group ul li:hover a .logo03 {
  background-image: url(../assets/Partners/vector_p05_logo03_on.svg);
}

#partners .section02 .inner .group ul li:hover a .logo04 {
  background-image: url(../assets/Partners/vector_p05_logo04_on.svg);
}

#partners .section02 .inner .group ul li:hover a .logo05 {
  background-image: url(../assets/Partners/vector_p05_logo05_on.png);
}

#partners .section02 .inner .group ul li:hover a .logo06 {
  background-image: url(../assets/Partners/vector_p05_logo06_on.png);
}

@media (max-width: 1280px) {
  #partners section h1 {
    font-size: 54px;
    line-height: 1;
  }

  .section01 .inner p {
    font-size: 12px;
    letter-spacing: 0.15em;
  }

  /* section01 */
  #partners .section01 {
    height: 233px;
  }
  #partners .section01 .inner {
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
  }

  #partners .section01 .inner::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 17px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/icon/icon_scroll.svg);
  }

  /* section02 */
  #partners .section02 .inner {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  #partners .section02 .inner .group h2 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 33px;
    letter-spacing: -0.01em;
  }

  #partners .section02 .inner .group ul li a {
    padding: 40px 0;
    justify-content: space-around;
  }

  #partners .section02 .inner .group ul li a .info {
    width: 50%;
  }

  #partners .section02 .inner .group p {
    font-size: 14px;
  }

  #partners .section02 .inner .group p b {
    font-size: 16px;
  }

  #partners .section02 .inner .group ul li a button {
    display: none;
  }

  #partners .section02 .inner .group ul li a .logo {
    background-size: contain;
  }

  #partners .section02 .inner .group ul li a .logo01 {
    width: 85px;
    height: 65px;
  }

  #partners .section02 .inner .group ul li a .logo02 {
    width: 84px;
    height: 84px;
  }

  #partners .section02 .inner .group ul li a .logo03 {
    width: 83px;
    height: 104px;
    background-image: url(../assets/Partners/vector_p05_logo03_off_m.svg);
  }

  #partners .section02 .inner .group ul li a .logo04 {
    width: 101px;
    height: 71px;
  }

  #partners .section02 .inner .group ul li a .logo05 {
    width: 135px;
    height: 35px;
  }

  #partners .section02 .inner .group ul li a .logo06 {
    width: 135px;
    height: 43px;
  }

  #partners .section02 .inner .group ul li:hover a .logo03 {
    width: 83px;
    height: 104px;
    background-image: url(../assets/Partners/vector_p05_logo03_on_m.svg);
  }
}
